@import "../app.component.scss";

.img_formula{
    background: url('./../images/formulalab7.jpg');
    height: 88px;
    width: 987px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: crisp-edges;

}