<app-labs-header name = "Лабораторна робота №8" variant = "7"></app-labs-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Завдання</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <pre class="p_background">
        Необхідно додати у розроблений в попередній лабораторній роботі застосунок сторінку для
роботи з сервісами. Сторінку викликати у головному меню застосунку.
Кожна сторінка  повинна містити:
·               "шапку", що включає ПІБ студента, номер групи і номер варіанту;
·               текст завдання;
·               форму для введення початкових значень.
Результати роботи
програми повинні відображатися на кожній сторінці окремо.
Завдання по роботі з бібліотекою RxJS:
1.   Розробити сервіс для спостерігання за значенням у довіднику, що змінюється відповідно до завдання. Довідник необхідно представити у вигляді класу.
2.Розробити клас для збереження списку значень, реалізувавши додавання нових значень до списку.
3.   Розробити клас який пов’язаний з попереднім значенням відповідно до завдання.  Даний клас повинен мати не менше, аніж 5 полів.
4.   Розробити клас для роботи зі списком об’єктів класу вказаного у попередньому пункті.
5.   У основному застосунку реалізувати можливість додавання нових значень у довідник та нових значень для класу описаному у пункті 3.
      </pre>
      <ion-item>
        <ion-button (click) = "nextTheater()">
            Наступний театр
        </ion-button>
        <ion-label>
            Поточний театр
        </ion-label>
        <ion-label>
            {{theat.name}}
        </ion-label>
      </ion-item>
      <ion-card *ngFor="let actor of actorlst.searchActor; let j = index">
        <ion-card *ngIf="!showDetails[j]" text-wrap>
            <ion-item> {{actor.name}} </ion-item>
            <ion-item> {{actor.age}}</ion-item>
            <ion-item> {{actor.spectacle}}</ion-item>
            <ion-button (click) = "toggleDetailsOn(j)">Подробиці</ion-button>
        </ion-card>
        <ion-card *ngIf="showDetails[j]"> 
          <ion-item> <ion-input value = "{{actor.name}}" #name></ion-input></ion-item>
          <ion-item> <ion-input value = "{{actor.age}}"  #age></ion-input></ion-item>
          <ion-item> <ion-input value = "{{actor.spectacle}}" #spectacle></ion-input></ion-item>
          <ion-button (click) = "redactActor(actor, name.value, age.value, spectacle.value, j)">Редагувати</ion-button>
          <ion-button (click) = "deleteActor(actor, j)">Видалити</ion-button>
        </ion-card>
      </ion-card>
      <ion-item>
        <ion-label position="stacked">Ввіедіть новий театр</ion-label>
        <ion-input value = "{{theat.name}}"#inputTheater></ion-input>
        <ion-card>
          <ion-button (click) = "addTheater(inputTheater.value)"> Додати театр </ion-button>
          <ion-button (click) = "redactTheater(inputTheater.value)"> Редагувати театр </ion-button>
          <ion-button (click) = "deleteTheater()"> Видалити театр </ion-button>
        </ion-card>
      </ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Додати актора
          </ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card-content>
        <ion-label position = "stacked"> Введдіть ім'я </ion-label>
        <ion-input #inputName></ion-input>
        <ion-label position = "stacked"> Введдіть Найвідоміший виступ</ion-label>
        <ion-input #inputspectacle></ion-input>
        <ion-label position = "stacked"> Введдіть вік </ion-label>
        <ion-input #inputAge></ion-input>
        <ion-button (click)= "addActor(inputName.value, inputAge.value, inputspectacle.value) ">Додати актора</ion-button>
      </ion-card-content>
    </ion-card-content> 
  </ion-card>
  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Лабораторна робота №6</ion-title>
  </ion-toolbar>
</ion-footer>