
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>
    Лабораторні роботи
    </ion-title>
    </ion-toolbar>
  <ion-toolbar>
    <ion-title class="ion_title_font">
      Лабораторна робота №1
    </ion-title>
    <ion-title class="ion_title_font">
      Панченко В.В КН-31 Варіант:20 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Завдання №1</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p class="p_background">Задано три числа. Якщо всі вони парні, то знайти їх добуток. В іншому випадку – квадрат добутку</p>
    </ion-card-content>
    <ion-item>
      <ion-label position="floating">Перше число</ion-label>
      <ion-input type="number" value="1" #inputa></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Друге число</ion-label>
      <ion-input type="number" value="2" #inputb></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Третє число</ion-label>
      <ion-input type="number" value="3" #inputc></ion-input>
    </ion-item>
    <ion-button expand="block" (click)= "calc(inputa.value,inputb.value,inputc.value)"> Обчислити</ion-button>
    <ion-item>
      Результати {{d}}:
    </ion-item>
  </ion-card>
  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Лабораторна робота №1</ion-title>
  </ion-toolbar>
</ion-footer>